---
- name: update all packages
  yum: name=* state=present

- name: install EPEL
  yum: name=epel-release state=present
  when: ansible_distribution != "Fedora"

- name: install other dependencies
  yum: name={{ item }} state=present
  with_items: "{{ other_depend }}"


- name: Install Version Control
  yum: name={{ item }} state=present
  with_items: "{{ vcs }}"

- name: Install build dependencies
  yum:  name="@Development tools" state=present
