---

- name: install pre dependencies
  zypper: name={{ item }} state=present
  with_items: "{{ other_depend }}"

- name: Install Version Control
  zypper: name={{ item }} state=present
  with_items: "{{ vcs }}"

- name: development installs
  zypper: name={{ item }} type=pattern state=present
  with_items:
    - devel_C_C++
